%p#notice= notice

%p
  %b Title:
  = @page.title
%p
  %b Body:
  = @page.body

%p
  %b Contributers:
  %br
  - @page.users.each do |user|
    = link_to user.email, user_path(user)
    %br


= link_to 'Edit', edit_page_path(@page)
\|
= link_to 'Back', pages_path
